[Unit]
Description=Daemon for querying and controlling the halfmetre and computer room airconditioners
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/aircond

[Install]
WantedBy=multi-user.target
